body{
    background-color: #eeeadc;
    margin: 0;
    padding-bottom: 150px;
}

h1{
    font-family: 'Kanit';
    font-size: 50px;
    color: black;
    margin: 0;
}
h2 {
    font-family: 'Kanit';
    font-size: 35px;
    color: black;
    margin: 0;
}
h4 {
    font-family: 'Kanit';
    font-size: 25px;
    color: black;
    margin: 0; 
}
subheading {
    font-family: 'Poppins';
    font-size: 20px;
    margin: 0;
}
p{
    font-family: 'Poppins';
    margin: 0;
}

.wrap {
    width: 1140px;
    margin: auto;
    display: flex;
}
.header-bg{
    background: #00174F;
}
header{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    
}
.header-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    .name {
        color: white;
        font-family: 'Poppins';
        font-size: 18px;
        font-weight: 600;
    }
}


nav ul{
    list-style: none;
    display: flex;
    font-family: 'Kanit';
    font-size: 20px;
    font-weight: 600;
}
nav ul li{
    padding-left: 10px;
    padding-right: 10px;
}
nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: red;
}
.baza-menu {
    color: red;
}
.divider{
    border-left: 2px solid white;
    height: 30px;
}

.no-display {
    display: none;
}
.active-filter {
    color: red;
}

.column1 {
    width: 70%;
    margin-top: 50px;
}
.column2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Tabela{
    width: 100%;
}
td {
    text-align: center;
    font-family: 'Kanit';
    font-size: 14px;
}
th {
    font-family: 'Kanit';
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
}
.no-cursor {
    cursor: default;
}
.CTA {
    background: #C11023;
    padding: 10px 20px;
    font-family: 'Poppins';
    text-decoration: none;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    width: 50%;
    margin: 20px 0;
    text-align: center;
    cursor: pointer;
}
.CTA:hover{
    background: #00174F;
}
.active-btn {
    background:#00174F ;
}
