body{
    background-color: #eeeadc;
    margin: 0;
    padding-bottom: 150px;
    
}

h1{
    font-family: 'Kanit';
    font-size: 50px;
    color: black;
    margin: 0;
}
h2 {
    font-family: 'Kanit';
    font-size: 35px;
    color: black;
    margin: 0;
}
h4 {
    font-family: 'Kanit';
    font-size: 20px;
    color: black;
    margin: 0; 
}
subheading {
    font-family: 'Poppins';
    font-size: 20px;
    margin: 0;
}
p{
    font-family: 'Poppins';
    margin: 0;
}
.alternatives {
    width: 1140px;
    margin: auto;
}
.wrap {
    width: 1140px;
    margin: 100px 279px;
    display: flex;
    padding: 30px 80px 100px 80px;
}
.header-bg{
    background: #00174F;
}
header{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    
}
.header-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    .name {
        color: white;
        font-family: 'Poppins';
        font-size: 18px;
        font-weight: 600;
    }
}


nav ul{
    list-style: none;
    display: flex;
    font-family: 'Kanit';
    font-size: 20px;
    font-weight: 600;
}
nav ul li{
    padding-left: 10px;
    padding-right: 10px;
}
nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: red;
}
.kalkulator-menu {
    color: red;
}
.divider{
    border-left: 2px solid white;
    height: 30px;
}
.column1 {
    width: 70%;
}
.column2 {
    width: 30%;
    background-color: #00174F;
    border-radius: 16px;
    padding: 20px 30px 50px 30px;
    box-shadow: 3px 3px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2 {
        color: white;
        font-size: 20px
    }
    h3 {
        color: white;
        font-size: 20px
    }
    .Title {
        font-size: 30px;
        margin-bottom: 20px;
    }
}

.row1, .row2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-wrapper {
    margin: 20px 0;
    width: 80%;
    display: block;
    justify-content: space-between;
}
.inputs {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider {
    -webkit-appearance: none;
    width: 60%;
    height: 10px;
    outline: none;
    border-radius: 20px;
    background-color: #d3d3d3;
    opacity: 0.7;
}
.slider:hover {
    opacity: 1;
    transition: opacity .5s;
    cursor: grab;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background-color: #C11023;
}
.input-text {
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Kanit';
    font-size: 16px;
    background-color: #00174F;
    color: white;
    border: none;
}
.secondpart {
    display: flex;
    justify-content: center;
}
.find {
    background: #C11023;
    padding: 10px 20px;
    font-family: 'Poppins';
    text-decoration: none;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    margin: 20px 0;
    text-align: center;
    cursor: pointer;
}
.Tabela {
    display: none;
}
.alternatives {
    display: flex;
    justify-content: center;
    .columnleft, .columnright {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    img {
        margin: 20px 0;
        width: 150px;
    }
}